@media only screen and (max-width : 565px) {
.banner_inner{
    flex-direction: column;
}
.banner_image, .banner_content{
    width: 70%;
    text-align: center;
}
.banner_img{
    margin: 0 auto 20px;
}
.banner_link{
    width: 70%;
}
.project_details {
    flex-direction: column;
}
.project_content{
    width: auto;
}
.content_inner:nth-child(1), .content_inner:nth-child(4) {
    margin-left: auto;
}
.content_inner.middle{
    margin: 0 auto;
}
.content_inner.right {
    margin-right: auto;
}
.content_inner.middle h4, .content_inner.middle p {
    padding: 0 0 10px 0;
}
.content_inner h4 {
    font-size: 20px;
}
.content_inner p{
    font-size: 10px;
}
.about_content{
    flex-direction: column;
}
.about_para{
    width: 100%;
    margin-bottom: 20px;
}
.about_inner h2, .about_para h2 {
    font-size: 18px;
}
.about_para ul li::before, .about_para.active ul li::before{
    top: 2px;
    font-size: 14px;
}
.about_para li a {
    font-size: 12px;
}
.footer_inner p {
    font-size: 10px;
}
}
