@media only screen and (max-width : 565px) {
.banner_inner{
    flex-direction: column;
}
.banner_image, .banner_content{
    width: 70%;
    text-align: center;
}
.banner_img{
    margin: 0 auto 20px;
}
.banner_link{
    width: 70%;
}
.project_details {
    flex-direction: column;
}
.project_content{
    width: auto;
}
.about_content{
    flex-direction: column;
}
.about_para{
    width: 100%;
    margin-bottom: 20px;
}
.about_inner h2, .about_para h2 {
    font-size: 18px;
}
.about_para ul li::before, .about_para.active ul li::before{
    top: 2px;
    font-size: 14px;
}
.about_para li a {
    font-size: 12px;
}
.footer_inner p {
    font-size: 10px;
}
}
