*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
body{
    background-color: #eee;
    font-family: sans-serif, monospace;
}
/* banner_start */
.banner{
    background-color: #ccc;
    padding: 20px 0;
}
.banner_inner{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.banner_image, .banner_content{
    width: 50%;
    text-align: right;
    text-transform: capitalize;
    margin: 0 auto;
}
.banner_img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #eee;
    overflow: hidden;
}
.banner_img img{
    width: 100%;
}
.banner_content h2{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
}
.banner_content h4, .banner_content p{
    font-size: 18px;
    font-family: system-ui;
    font-weight: 500;
}
.email{
    background-color: #17a2b8;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 14px 8px;
    margin: 10px 0;
}
.email a{
    font-size: 14px;
    color: #f7f8f9;
}
.banner_link{
    width: 26%;
    display: flex;
    justify-content: space-around;
    background-color: #6c757d;
    border-radius: 4px;
    padding: 8px;
    margin: 36px auto 0;
}
.banner_link a{
    font-size: 14px;
    text-transform: capitalize;
    color: #f5f5f6;
}
/* banner_end */

/* project/experience_start */
.project{
    padding: 30px 0;
}
.project_inner{
    width: 80%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
.project_inner h2{
    font-size: 22px;
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 20px 0;
}
.project_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project1{
    width: 26.66%;
    /* overflow: hidden; */
}
.project_img{
    width: 324px;
    margin: 0 auto;
}
.project_img img{
    width: 100%;
}
.lef_top .project_img, .lef_top h2, .lef_top p {
    margin-bottom: 0;
}
.middle .project_img, .middle h2, .middle p {
    margin-bottom: 0;
}
.right .project_img, .right h2, .right p{
    /* margin-left: 86px; */
}
.project1 h2{
    font-size: 22px;
    text-align: left;
    padding: 14px 0 8px 0;
}
.project1 p{
    font-size: 14px;
    text-align: left;
    text-transform: capitalize;
}
.right h2{
    margin-bottom: 0;
}
/* project/experience_end */

/* about_start */
.about{
    background-color: #ccc;
    padding: 40px 0;
}
.about_inner{
    width: 80%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}
.about_inner h2{
    font-size: 22px;
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 30px 0;
}
.about_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about_para{
    width: 42%;
    background-color: #f8f9fa;
    padding: 18px 0;
    margin: 0 0 10px 0;
}
.about_para li{
    text-align: left;
    list-style: disc;
    margin: 0 0 6px 60px;
}
.about_para li a{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    color: #333940;
}
.about_para.active h2{
    color: #f8f9fa;
}
.about_para.active li a{
    text-transform: uppercase;
    color: #f8f9fa;
}
.about_para.active{
    background-color: #343a40;
}
/* about_end */

/* footer_start */
footer{
    padding: 20px 0;
}
.footer_inner h2{
    width: 80%;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #343a40;
    margin: 0 auto;
}
/* footer_end */

